@charset "UTF-8";
body {
  color: #cbd0d4;
  font-family: 'Roboto Slab', serif;
  overflow: auto;
  font-size: 12px; }

.fondo {
  background-image: url("../imagenes/telon-fondo-textura-tela-tenida-oscura.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  display: inline-block;
  text-align: center;
  background-color: rgba(252, 252, 252, 0.637);
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px; }
  footer a {
    text-decoration: none;
    color: #cbd0d4; }

.facebook {
  height: 2%;
  width: 2%; }

.instagram {
  height: 2%;
  width: 2%; }

.twitter {
  height: 2%;
  width: 2%; }

.youtube {
  height: 2%;
  width: 2%; }

header {
  background-color: rgba(252, 252, 252, 0.637);
  background-size: cover; }
  header div {
    color: #cbd0d4;
    text-decoration: none;
    display: inline-block; }
    header div div ul {
      list-style-type: none; }

.nav-item {
  display: flex; }

.barra {
  width: 150px; }

#navbarNav {
  justify-content: center; }

.logobarra {
  width: 40px;
  justify-content: center;
  align-items: center; }

main .titulo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.img3 {
  display: block;
  width: 100%;
  margin: auto; }

.img-inicio .img3 {
  display: block;
  width: 100%;
  margin: auto; }

.main-1 .titulo-s {
  text-align: center; }

.imagen-street-1 {
  display: block;
  border-radius: 5%;
  border-style: solid;
  margin: auto;
  width: 55%; }

.noticia1 {
  margin: 20px 30% 20px 30%;
  text-align: center; }

.sec-street .titulo-s {
  text-align: center; }

.catalogo-1 {
  margin-left: 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.grid-item1 {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center; }

.grid-item2 {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: left; }

.imgr {
  border-radius: 5%;
  border-style: solid;
  margin: auto;
  width: 55%; }

.main-2 section h3 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 200%; }

.carousel {
  display: flex;
  margin-left: 18%; }

.carousel-indicators {
  display: flex;
  justify-content: center; }

.tamaño-img {
  border-radius: 5%;
  border-style: solid;
  margin: auto;
  width: 50%; }

.noticia1 {
  margin: 20px 30% 20px 30%;
  text-align: center; }
  .noticia1 .imgr {
    border-radius: 5%;
    border-style: solid;
    margin: auto;
    width: 55%; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 30%;
  margin-top: 5%; }

.grid-item1 {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center; }

.grid-item2 {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  justify-self: left; }

.video {
  border-style: solid;
  border-radius: 5%;
  border-color: #cbd0d4; }

.formulario {
  border-style: solid;
  border-radius: 5%;
  border-color: #cbd0d4;
  padding: 20%; }

@media screen and (max-width: 600px) {
  body {
    font-size: 10px; }
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5%; }
  .catalogo-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 5%;
    margin: auto; }
  .grid-item2 {
    justify-self: center; }
  .video {
    width: auto; }
  .imagen-street-1 {
    width: 100%;
    margin: auto; }
  .imgr {
    width: 100%;
    margin: auto; }
  .noticia1 {
    width: 100%;
    margin: auto; }
  .historia {
    width: 100%;
    margin: auto;
    margin-bottom: 10px; }
  .nav-item {
    margin: center; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
