body{
    color:$color-letra;
    font-family: 'Roboto Slab', serif;
    overflow: auto;
    font-size: 12px;



}

.fondo{
   
    background-image: url("../imagenes/telon-fondo-textura-tela-tenida-oscura.jpg"); 
       background-position: center;
    background-repeat: no-repeat;
      background-size: cover;
      
   }