main{
    
    .titulo{
        
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        
        
    }
}
.img3{
    display: block;
     width: 100%;
     margin: auto;
     
     

}

.img-inicio{
    .img3{
        display: block;
        width: 100%;
        margin: auto;
        
        
    }
}