
  
        .main-1{
            .titulo-s{
                text-align: center;
                
            }
        }
    
   

        .imagen-street-1{
            display: block;
            border-radius: 5%;
            border-style: solid;
            margin: auto;
            width: 55%;


        }
        .noticia1{
            margin: 20px 30% 20px 30%;
            text-align: center;
        }

        .sec-street{
                    .titulo-s{
                        text-align: center;
                    }
        }

        